aws_region = "{{ cloud_region }}"
cluster_name = "{{ cluster_name }}"
aws_access_key = "{{ aws_access_key }}"
aws_secret_key = "{{ aws_secret_key }}"
cluster_domain = "{{ cluster_domain }}"
ssh_public_key = ""
rhcos_ami = "{{ rhcos_ami }}"
registry_type = "{{ registry_type }}"